surge/
python_surge_bindings/
data/


### Python bytecode

**/__pycache__/
**/*.pyc
**/*.pyo

### Python temp files

**/*.pytest_cache/
**/.pytest_cache
**/*.egg-info/
**/.DS_Store

### Build output

**/build/
**/dist/
**/htmlcov/
**/.tox/
**/.venv/
**/venv/

### PyInstaller cache and dist

**/build/
**/dist/
**/*.spec

### C extensions

**/.libs
**/*.so
**/*.pyd

### IDE and Editor files

**/**/*~
**/**/#*#
**/.idea/
**/.vscode/
**/.mypy_cache/
**/.pytest_cache/

### Virtual environments

**/venv/
**/*.venv

### Pipfiles

**/Pipfile
**/Pipfile.lock